$red: red;
$fs20: 20px;
$space: 100px;
$mt100: $space;
$pt100: $space;
$black1e: #1E2530;
$white: #fff;
$green09: #09E27C;
$grayca: #cacaca;
$radius38: 38px;
$radius22: 22px;
$imgUrl: "../images/";
$yellow: yellow;
$yellowff: #FFDC20;
$blue00: #00D4EA;
$bc: background-color; 
$mobileSize: 768px;
$tabletSize: 1024px;





// div {
//     $blue: blue;

//     margin-top: $mt100;
//     margin-top: $pt100;
//     color: $red;
//     font-size: $fs20;
//     padding: $fs20;
// }
// p {
//     $blue: blue;
//     color: $blue;
// }